*{
    margin: 0;
    padding: 0;
}


header{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    background-color: #333;
    gap:300px;
    align-items: center;
    color: white;
    
}

nav ul{
    
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    justify-content: space-between;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 26px;
}

header .log{
    height:100px;
    width: 90px
}