/* .container{
    background-color: red;
    width:90%;
    border: 1px solid;
}
.container .inner{
    background-color: limegreen;
    width: 100%;
} */
 .container{
    height: 500px;
    width: 700px;
    border: 1px solid white;
    /* background-position: 100px 100px; */
    background-repeat: repeat;
    /* display: none; */
     background-image: url('https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    
    

 }

