/* div{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background: repeating-linear-gradient(60deg,black 30px,whitesmoke 60px);
   
} */

div{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 35px;
    background: radial-gradient(circle at 30% 100%,#FEDA77 5%,#FD5949,#962fbf,#FCB045,#FD1D1D,#833AB4);
}
 /* div{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
    background: conic-gradient(from 90deg, pink,cyan,yellow)
} */